body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}
.App {
    padding: 20px;
}

.typewriter-text {
    font-family: monospace;
    animation: typing 0.5s steps(40, end);
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  .keylogger {
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
  }